<script src="blockly_compressed.js"></script>
<script src="blocks_compressed.js"></script>

<script src="fr.js"></script>

<xml id="toolbox">
    <block type="controls_if"></block>
    <block type="controls_repeat_ext"></block>
    <block type="logic_compare"></block>
    <block type="math_number"></block>
    <block type="math_arithmetic"></block>
    <block type="text"></block>
    <block type="text_print"></block>
  </xml>

<div id="blocklyContainerID" class="blocklyContainer">
  <div id="blocklyDiv" style="position: absolute;"></div>
</div>

<script>
  var toolbox = '<xml>';
    toolbox += '  <block type="controls_if"></block>';
    toolbox += '  <block type="controls_whileUntil"></block>';
    toolbox += '</xml>';

  var workspace = Blockly.inject(blocklyDiv,
      {toolbox: document.getElementById('toolbox')});

  let onresize = function(e) {
    var blocklyContainer = document.getElementById('blocklyContainerID');
    var blocklyDiv = document.getElementById('blocklyDiv');
    var sidebarLeft = document.getElementById("sidebarLeft");
    var sidebarRight = document.getElementById("sidebarRight");

    // Position blocklyDiv over blocklyContainer.
    blocklyDiv.style.left = '0px';
    blocklyDiv.style.top = '0px';
    blocklyDiv.style.width = "95%";
    blocklyDiv.style.height = "100%";
    Blockly.svgResize(workspace);
  };

  window.addEventListener('resize', onresize, false);
</script>