<div id="sidebarLeft" class="sidebar-left" style="width:15%">
    <!-- input area 
    they are automatically include in the blockly input categorie
    to be used in the script area
    they can be displayed in a new page by clicking on them -->

    <div class="box">input 1</div>
    <div class="box">input 2</div>
</div>