<div id="sidebarRight" class="sidebar-right" style="left:75%; width: 35%;">
    <!-- output area 
      they are automatically include in the blockly output categorie
      to be used in the script area
      they can be displayed in a new page by clicking on them -->

    <div class="box">output 1</div>
    <div class="box">output 2</div>
</div>