<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='static/style.css'>
    <link rel="stylesheet" href='static/libs/navigator/navigator.css'>
    <title>DataScience accelerator</title>
</head>

<body onload="initialPlacement()">
<script src="{{baseURL}}/static/libs/blockly/closure/goog/base.js"></script>
<script src="{{baseURL}}/static/libs/blockly/blockly_compressed.js"></script>
<script src="{{baseURL}}/static/libs/blockly/msg/js/en.js"></script>

<script src="{{baseURL}}/static/libs/blockly/blocks/colour.js"></script>
<script src="{{baseURL}}/static/libs/blockly/blocks/lists.js"></script>
<script src="{{baseURL}}/static/libs/blockly/blocks/logic.js"></script>
<script src="{{baseURL}}/static/libs/blockly/blocks/loops.js"></script>
<script src="{{baseURL}}/static/libs/blockly/blocks/math.js"></script>
<script src="{{baseURL}}/static/libs/blockly/blocks/procedures.js"></script>
<script src="{{baseURL}}/static/libs/blockly/blocks/text.js"></script>
<script src="{{baseURL}}/static/libs/blockly/blocks/variables.js"></script>
<script src="{{baseURL}}/static/libs/blockly/blocks/variables_dynamic.js"></script>
<script src="{{baseURL}}/static/libs/blockly/blocks/inputOutput.js"></script>

<!-- the application menu -->
<nav id="navBar">
    <div class="dropdown">
        <button class="dropbtn">Fichier</button>
        <div class="dropdown-content">
            <a onclick="create_project_fetch()">New project ...</a>
            <a onclick="load_project_fetch()">Open project</a>
            <a onclick="load_project_fetch()">Refresh Project directory</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Édition</button>
        <div class="dropdown-content">
            <a>Link 1</a>
            <a>Link 2</a>
            <a>Link 3</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Affichage</button>
        <div class="dropdown-content">
            <a>Link 1</a>
            <a>Link 2</a>
            <a>Link 3</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Run</button>
        <div class="dropdown-content">
            <a onclick="retrieve_data()">Run the script ...</a>
            <a>Link 2</a>
            <a>Link 3</a>
        </div>
    </div>
</nav>

<!-- the blockly toolbox -->
<xml id="toolbox" style="display: none">
    <category name=" Input">
        <block type="input_downloadTextFile"></block>
        <block type="input_loadTextFile"></block>
    </category>
    <category name="Output">
        <block type="output_writeTextFile"></block>
        <block type="output_writeImgFile"></block>
    </category>

    <sep gap="8"></sep>

    <category name="Variables">
        <block type="variables_get_dynamic"></block>
    </category>
    <category name="Lists">
        <block type="lists_create_with_container"></block>
        <block type="lists_create_with_item"></block>
        <block type="lists_indexOf"></block>
        <block type="lists_getIndex"></block>
        <block type="lists_setIndex"></block>
        <block type="lists_sort"></block>
        <block type="lists_split"></block>
    </category>

    <sep gap="8"></sep>

    <category name="maths">
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
        <block type="math_single"></block>
        <block type="math_trig"></block>
        <block type="math_constant"></block>
        <block type="math_number_property"></block>
        <block type="math_change"></block>
        <block type="math_round"></block>
        <block type="math_on_list"></block>
        <block type="math_modulo"></block>
        <block type="math_constrain"></block>
        <block type="math_random_int"></block>
        <block type="math_random_float"></block>
        <block type="math_atan2"></block>
    </category>

    <sep gap="8"></sep>

    <category name="Logic">
        <block type="controls_if"></block>
        <block type="controls_ifelse"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_boolean"></block>
        <block type="logic_negate"></block>
        <block type="logic_null"></block>
        <block type="logic_ternary"></block>
    </category>
    <category name="loops">
        <block type="controls_whileUntil"></block>
        <block type="controls_for"></block>
        <block type="controls_repeat_ext"></block>
        <block type="controls_repeat"></block>
        <block type="controls_forEach"></block>
    </category>
    <category name="function">
        <block type="procedures_defnoreturn"></block>
        <block type="procedures_defreturn"></block>
        <block type="procedures_mutatorcontainer"></block>
        <block type="procedures_mutatorarg"></block>
        <block type="procedures_callnoreturn"></block>
        <block type="procedures_callreturn"></block>
        <block type="procedures_ifreturn"></block>
    </category>

    <sep gap="8"></sep>

    <category name="text">
        <block type="text_getSubstring"></block>
        <block type="text_changeCase"></block>
        <block type="text_trim"></block>
        <block type="text_print"></block>
        <block type="text_prompt_ext"></block>
        <block type="text_prompt"></block>
        <block type="text_count"></block>
        <block type="text_replace"></block>
        <block type="text_reverse"></block>
    </category>
    <category name="Colours">
        <block type="colour_picker"></block>
        <block type="colour_rgb"></block>
        <block type="colour_random"></block>
        <block type="colour_blend"></block>
    </category>
</xml>

<div id="editorView" class="editorView">
    <div id="blocklyTab" class="tabcontent">
        <div id="blocklyDiv" style="position: absolute;"></div>
    </div>

    <div id="textEditorTab" class="tabcontent" style="width: 98%; height: 100%">
        <pre id="editor"  class="textEditorArea"></pre>
    </div>

    <div class="tabContainer">
        <button class="tablink" onclick="switchTab('editorView', 'blocklyTab', this, 'dodgerblue')">Blockly</button>
        <button class="tablink" onclick="switchTab('editorView', 'textEditorTab', this, 'dodgerblue')">Text Editor
        </button>
    </div>
</div>

<div id="draghandle" class="draghandle" onmousedown="initPanResize(event);"></div>

<div id="plotView" class="plotView">
    <div id="plotTab">
        <div class="plotDiv">
            <p id="plotContent" style="margin-left: 15px"></p>
            <p id="plotText" style="margin-left: 15px"></p>
            <img id="plotImage" alt="image to plot" src=""/>
            <p id="log" style="margin-left: 15px"></p>
        </div>
    </div>

    <div id="navigatorTab" class="navigatorView">
    </div>

    <div class="tabContainer">
        <button class="tablink" onclick="switchTab('plotView', 'plotTab', this, 'dodgerblue')">Plot</button>
        <button class="tablink" onclick="switchTab('plotView', 'navigatorTab', this, 'dodgerblue')">Navigator</button>
    </div>
</div>

<script src="{{baseURL}}/static/blockly.js"></script>
<script src="{{baseURL}}/static/index.js"></script>
<script src="{{baseURL}}/static/rosetta.js"></script>
<script src="{{baseURL}}/static/libs/navigator/navigator.js"></script>
<script>window.addEventListener('resize', windowResize, false);</script>


<script src="{{baseURL}}/static/libs/ACE-src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    // editor.setTheme("ace/theme/solarized_light");
    editor.session.setMode("ace/mode/python");
</script>
</body>

</html>